<h1>Welcome to my blog</h1>

<% @posts.each do |post| %>

  <article>
    <h2> <a href='show/<%=post[:id]%>'><%= post[:title] %> </a> </h2>
    <h3> <%= post[:author] %></h3>
    <p>
      <%= post[:body] %>
    </p>
  </article>

<% end %>
