<!--  lets create our very first html form-->

<h1>create a blog post pls</h1>

<form name='new-post' action='create' method='post'>

  <label for='title'>Title:</label>
  <input type='text' name='title' />

  <label for='author'>Author:</label>
  <input type='text' name='author' />
  <br /><br  />

  <textarea name='body' rows='8' cols='40'>
  </textarea>

  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s,   :value => form_authenticity_token) %>
  <button type='submit'>Submit</button>

</form>
